<div class="page-logo">
	<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
		<img src="~/Content/img/@ViewBag.Logo" alt="@ViewBag.AppFlavor" aria-roledescription="logo">
		<span class="page-logo-text ml-0">@ViewBag.AppName</span>
		<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">@ViewBag.AppFlavorSubscript</span>
		@if (ViewBag.AppShortcutModal!=null)
{ 
		<i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
		}
	</a>
</div>