

@using WebApp.Models
@model AttachRoleViewModel

<form action="/management/account/roles" method="post" class="form-inline" role="form">
    @Html.HiddenFor(m => m.UserId)
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.RoleName, (SelectListItem[])ViewBag.RoleSelectList, null, new { @class = "form-control" })
    </div>
    <button type="submit" value="追加" class="btn btn-sm btn-success mr-1" name="Attach">追加</button>
    <button type="submit" value="删除" class="btn btn-sm btn-warning" name="Purge">删除</button>
</form>
