<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="LinqKit" version="1.1.20" targetFramework="net48" />
  <package id="TrackableEntities.Common" version="2.5.7" targetFramework="net48" />
  <package id="TrackableEntities.EF.6" version="2.5.7" targetFramework="net48" />
</packages>